<div class="homepage">
  <div class="homepage-banner">
    <div class="homepage-banner-canvas">

      <canvas width="1060" height="1320" style="width: 530px; height: 660px;">

      </canvas>

    </div>

    <div class="container">
      <div class="homepage-text">

        <div class="homepage-banner-title">美国硅谷一线工程师在线直播授课，为你打开IT名企的大门
        </div>
        <div class="homepage-banner-subtitle">九章算法已经帮助 30000 + 人成功拿到心仪的 Offer
        </div>

        <div class="homepage-banner-buttons">
          <style>
            p {
              border: 1.2px solid;
              padding: 5px;
            }
          </style>
          <div class="col-5">
            <button type="button" class="btn btn-outline-light" style="width:110px;height:40px">VIP集训营</button>
          </div>
          <div class="col-5">
            <button type="button" class="btn btn-outline-light" style="width:110px;height:40px">  课程</button>
          </div>
          <div class="col-5">
            <button type="button" class="btn btn-outline-light" style="width:110px;height:40px">  微课堂</button>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
