<div class="container">

  <nav>
    <ul>
      <li><font size="3" color="#ff1493">Home</font></li>
      <li><font size="3" color="#ff1493">Taco Menu</font></li>
      <li><font size="3" color="#ff1493">Draft List</font></li>
      <li><font size="3" color="#ff1493">Hours</font></li>
      <li><font size="3" color="#ff1493">Directions</font></li>
      <li><font size="3" color="#ff1493">Contact</font></li>
    </ul>
  </nav>

  <section>
    <font size="3" color="black">section的margin-left样式确保了足够空间容纳nav元素</font>
  </section>

  <section style="background-color: lightgrey">
    Web browsers receive HTML documents from a web server or from
    local storage and render the documents into multimedia web pages.
    HTML describes the structure of a web page semantically and
    originally included cues for the appearance of the document.
  </section>

  <section>
    注意观察当你调整浏览器是发生了什么，效果很赞！
  </section>

</div>
