<h4>This is a Component Example. </h4>



<hr>
<div class="game">

  <h4> This is a cooking game. Enjoy! </h4>

  <div style="margin-top: 20px;">
    <i>Add ingredients :</i>
  </div>

    <input #newIngre
         (keyup.enter)="addIngredient(newIngre.value)"
         (blur)="addIngredient(newIngre.value); newIngre.value='' ">

    <button class="btn btn-primary" (click)="addIngredient(newIngre.value)" style="margin-left: 20px; margin-right: 10px"> Add </button>
    <button class="btn btn-primary" (click)="cookDish()" style="margin-left: 10px; margin-right: 10px"> Cook </button>
    <button class="btn btn-primary" (click)="emptyBasket()" style="margin-left: 10px; margin-right: 10px"> Reset </button>


  <div><span style="margin-top: 20px">Ingredients in basket:</span>
    <ul><li *ngFor="let ingredient of ingredients">{{ingredient}}</li></ul>

  </div>

  <div *ngIf="isReady" >
    Congrat! you can cook: <span style = "color: blue">{{ dishName }}</span>
  </div>

  <div *ngIf="notReady" >
    <h5>Can't cook anything!</h5>
  </div>

</div>


<hr>
<p> Server with ID {{ serverId }}  is {{ serverStatus }} </p>
<p> {{ 'Server' }} with ID {{ serverId }}  is {{ serverStatus }} </p>
<p>

  {{ 'Server' }} with ID {{ serverId }}  is {{ getServerStatus() }} </p>

<hr>
<h4>This is a counter</h4>
<p> {{ counter }} </p>
<button class="btn btn-primary" (click)="counterPlus()" style="margin-right: 10px"> Add One</button>
<button class="btn btn-primary" (click)="resetCounter()"> Reset Counter</button>

<hr>
<h4>This is a input Box with Event Binding</h4>
<div>
  <span>User Name: </span>
  <input type="text" (input)="onUpdateUserName($event)">
</div>

<div>
  <span>Password: </span>
  <input type="password">
</div>
<div *ngIf="isLogin" class="informBoxBoarder"> You Loggedin as {{ userName }} </div>
<button class="btn btn-light" (click)="login()" style="margin-right: 10px"> Login </button>
<button class="btn btn-light" (click)="signOut()"> Sign Out </button>

<hr>
<h4>This is a input Box with Two Way Data Binding</h4>
<div>
  <span>User Name: </span>
  <input type="text" [(ngModel)]="userName">
</div>

<div>
  <span>Password: </span>
  <input type="password">
</div>

<div *ngIf="isLogin" class="informBoxBoarder"> You Loggedin as {{ userName }} </div>
<button class="btn btn-light" (click)="login()" style="margin-right: 10px"> Login </button>
<button class="btn btn-light" (click)="signOut()"> Sign Out </button>

<hr>
<h4>This is a StudentList managed by ngfor loop</h4>
<div *ngFor="let student of students">
  <div style="margin-bottom: 2px;border-left: solid 2px; border-right: solid 2px; border-bottom: solid 2px; border-top: solid 2px; display: flex; justify-content: space-between">
    <div><span style="color: cornflowerblue; margin-right: 5px">Student Name: </span> <span> {{ student.name }}</span></div>

    <div><span style="color: cornflowerblue; margin-right: 5px;">Student Major: </span> <span>{{ student.major }}</span></div>
  </div>
</div>


